/.idea/
/Selenium-Scala-Sbt-Template/selenium-scala-sbt-template.iml
/Selenium-Scala-Sbt-Template/.idea/
/Selenium-Scala-Sbt-Template/Selenium-Scala-Sbt-Template/.idea/
/Selenium-Scala-Sbt-Template/Selenium-Scala-Sbt-Template/project/target/
/Selenium-Scala-Sbt-Template/Selenium-Scala-Sbt-Template/target/
